{% extends "layout.html" %}

{% block body %}
    <div class="form-wrapper">
        <h1>Register</h1>
        <form action="{{ url_for('register') }}" method="post">
            <div class="form-username">
                <input type="text" name="username" placeholder="Enter your username">
            </div>
            <div class="form-password">
                <input type="password" name="password" placeholder="Enter your password">
            </div>
            <div class="confirm-password">
                <input type="password" name="confirm-password" placeholder="Confirm your password">
            </div>
            <button type="submit">Register</button>
        </form>
        <p>Already have account? Log In here <a href="{{ url_for('login') }}">link</a></p>
    </div>
{% endblock %}